.button {
  width: fit-content;
  height: 100px;
  display: flex;
  font-size: 16px;

  &--save {
    background-color: rgb(157, 33, 33);
    color: white;
  }
  &--ext {
    background-color: transparent;
    border-color: white;
    color: white;
  }
}
